@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Media Query Manager
/*
0 - 600px: Phone
600 - 900px: Tablet Portrait
900 - 1200px: Tablet Landscape 
1200 - 1800: Is where our normal styles applied
1800px + : Big Desktop

$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components
*/
//1 em or rem in a media query auto relates to size of browsers font size
//1 em = 16px
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { @content } //600px
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) { @content } //900px
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) { @content } //1200px
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) { @content } //1800
  }
}
