// COLORS
$color-primary: #3B7080;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-secondary: #42B883;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary: #70D6FF;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-yellow: #FCEC52;

$color-red: #8C271E;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
