.blog-thumbnail {
    margin: 2rem 0;
    display: flex;

    &__text {
        margin-left: 3rem;
    }

    &__img {
        display: inline-block;
        width: 200px;
        height: auto;
    }

    &__header {
        font-size: 3rem;

        & > a {
            text-decoration: none;
            color: $color-primary;
        }
    }

    &__description {
        margin-top: 1rem;
        font-size: $default-font-size;
    }
}
