//Move this over into a function/mixin or something later on
@keyframes typing {
    from { width: 0 }
}

@keyframes caret {
    50% { border-color: transparent; }
}

.hero {
    color: white;
    position: relative;

    &-image {
        width: 100%;
        height: auto;
        filter: brightness(0.5);
    }

    &__text-group {
        @include absCenter;
        top: 15%;
    }

    &__title-animated {
        font-size: 5rem;
        width: 23ch;
        overflow: hidden;
        white-space: nowrap;
        border-right: .05em solid;
        animation: typing 5s steps(23),
                   caret 1s steps(1) infinite;
    }

    &__title {
        font-size: 5rem;
    }

    &__text {
        font-size: 2rem;
        text-align: center;
    }
}
