.tool {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 25vw;
    padding: 1rem 2rem;
    margin: 1.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);

    &__title {
        font-size: 3rem;
        margin: 1rem 0;
    }

    &__link {
        display: block;
        text-decoration: none;
        padding: 1rem 1.5rem;
    }

    &__description {
        font-size: 1.6rem;
        margin: 1rem 0;
    }

    &__date {
        font-size: 1.4rem;
        color: grey;
        display: flex;
        justify-content: flex-end;
        align-items: end;
    }

    &__tag {

    }
}
