/*
0 - 600px: Phone
600 - 900px: Tablet Portrait
900 - 1200px: Tablet Landscape 
1200 - 1800: Is where our normal styles applied
1800px + : Big Desktop

$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: monospace, "Lato", sans-serif;
  font-weight: 400; }

.sub-header {
  font-size: 4rem; }

.paragraph {
  font-size: 1.6rem;
  margin: 1.5rem 0; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: white; }

.btn--green {
  background-color: #3B7080;
  color: #fff; }
  .btn--green::after {
    background-color: #3B7080; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #3B7080;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #3B7080;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #3B7080;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

@keyframes typing {
  from {
    width: 0; } }

@keyframes caret {
  50% {
    border-color: transparent; } }

.hero {
  color: white;
  position: relative; }
  .hero-image {
    width: 100%;
    height: auto;
    filter: brightness(0.5); }
  .hero__text-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 15%; }
  .hero__title-animated {
    font-size: 5rem;
    width: 23ch;
    overflow: hidden;
    white-space: nowrap;
    border-right: .05em solid;
    animation: typing 5s steps(23), caret 1s steps(1) infinite; }
  .hero__title {
    font-size: 5rem; }
  .hero__text {
    font-size: 2rem;
    text-align: center; }

.tool {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 25vw;
  padding: 1rem 2rem;
  margin: 1.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5); }
  .tool__title {
    font-size: 3rem;
    margin: 1rem 0; }
  .tool__link {
    display: block;
    text-decoration: none;
    padding: 1rem 1.5rem; }
  .tool__description {
    font-size: 1.6rem;
    margin: 1rem 0; }
  .tool__date {
    font-size: 1.4rem;
    color: grey;
    display: flex;
    justify-content: flex-end;
    align-items: end; }

.blog-thumbnail {
  margin: 2rem 0;
  display: flex; }
  .blog-thumbnail__text {
    margin-left: 3rem; }
  .blog-thumbnail__img {
    display: inline-block;
    width: 200px;
    height: auto; }
  .blog-thumbnail__header {
    font-size: 3rem; }
    .blog-thumbnail__header > a {
      text-decoration: none;
      color: #3B7080; }
  .blog-thumbnail__description {
    margin-top: 1rem;
    font-size: 1.6rem; }

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #42B883;
  padding: 0 15vw; }
  .footer__brand {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .footer__brand-name {
      font-size: 1.6rem; }
  .footer__title {
    font-size: 2rem;
    border-bottom: 1px solid black;
    margin-bottom: 1rem; }
  .footer__logo {
    height: 6rem;
    width: auto; }
  .footer__socials {
    display: flex;
    justify-content: center; }
  .footer__social-icon {
    margin: 0 1rem;
    width: 25px;
    height: auto; }

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #42B883; }
  .navbar__brand {
    display: flex;
    align-items: center; }
    .navbar__brand-logo {
      height: 6rem;
      width: auto; }
    .navbar__brand-text {
      color: #fff;
      font-size: 2rem; }
  .navbar__routes > ul {
    list-style: none;
    display: flex;
    flex-direction: row; }
  .navbar__route {
    text-decoration: none;
    color: #fff;
    margin: 0 1rem;
    font-size: 1.6rem;
    font-weight: 600; }
    .navbar__route-active {
      color: #3B7080; }

.container-small {
  margin: 0 20vw; }

.container-medium {
  margin: 0 15vw; }

.container-large {
  margin: 0 10vw; }

.container-full {
  margin: 0 5vw; }

.about {
  margin: 2rem 0; }

.blog {
  margin: 2rem 0; }

.projects {
  margin: 2rem 0; }

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.skill {
  margin: auto; }
  .skill__img {
    width: 15rem;
    height: auto;
    margin: 1rem; }

.job {
  margin: 2rem 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  padding: 1rem 1.5rem;
  border-radius: 5px; }
  .job-logo {
    height: 100px;
    width: auto; }
  .job-name {
    margin-top: .5rem;
    font-size: 3rem; }
  .job-date {
    font-size: 1.6rem;
    color: #777; }
  .job-description {
    margin-top: 1rem;
    font-size: 1.6rem; }
  .job-skill {
    display: inherit;
    margin-left: 1rem;
    background-color: #eee;
    padding: .5rem .8rem;
    border-radius: 10px;
    font-size: 1.2rem; }
  .job-skills {
    margin-top: 1rem;
    display: inline-block; }

.education {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
  border-radius: 5px; }

.college {
  padding: 1rem 1.5rem; }
  .college-name {
    font-size: 3rem; }
  .college-grad-date {
    font-size: 1.6rem;
    color: #777; }
  .college-degree {
    margin: 1rem 0;
    font-size: 1.6rem; }

.resume-header {
  font-size: 4rem; }

.blog-post__header {
  position: relative; }
  .blog-post__header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.blog-post__img {
  width: 100%;
  height: auto; }

.blog-post__title {
  font-size: 7rem;
  color: #fff; }

.blog-post__date {
  color: #fff; }

.blog-post__html {
  margin-top: 2rem; }
  .blog-post__html > h1 {
    font-size: 5rem; }
  .blog-post__html > h2 {
    font-size: 4rem; }
  .blog-post__html > h3 {
    font-size: 3rem; }
  .blog-post__html > h4 {
    font-size: 2rem; }
  .blog-post__html > p {
    font-size: 1.6rem;
    margin: 1rem 0; }
