<template>
  <Hero :heroImg="`${bannerBaseUrl}/AboutMeBanner.jpg`">About Me</Hero>
  <div class="container-small">
    <div class="about">
      <p class="paragraph">
        My start with computers began at the age of 2 with Video games. I was
        born in the early 90's, and my first exposure to computers was with the
        computer game Doom. My parents on a couple ocasions caught me playing
        the game on my dad's pc.
      </p>
      <p class="paragraph">
        Fast forward a few years, and I started learning more and more about
        computers and I loved them. But my career in software develompent didn't
        start there. I was more fascinated with video games, and so that kind of
        remained my tie into the computer world.
      </p>
      <p class="paragraph">
        My junior year of high school I took a Java programming class, and
        absolutely hated it! I thought programming was the most boring thing,
        and I definitely knew that I didn't want to do that as a full time job.
      </p>
      <p class="paragraph">
        Fast forward a few more years and I'm just about finished with my
        general studies for an associates degree at Weber State University. I
        decided to take another stab at a programming course (java again), and
        then a computer engineering course called digital circuits. Well I ended
        up loving both of them, on the one hand I was doing much more with my
        hands and placing wires throughout a breadboard to create a multiplexor,
        or a two bit binary adder, and then on the software side I was creating
        some fun scripts that given a formula I could compute the side of a
        whale by just getting some measurements via a picture of the hump.
        Overall though I was much more fascinated with the software development
        side of things, and so that's the direction I went.
      </p>
      <p class="paragraph">
        In 2018 I got my first job as a software developer for a local
        government company Weber Basin Water Conservancy District. They took a
        chance on me, even though I hadn't yet got my degree and had no previous
        experience. While there I learned C#, and how to build windows forms
        applications and web apps with .net, and then to build mobile
        applications with swift.
      </p>
      <p class="paragraph">
        December of 2019 I finished my studies at Weber State University and
        graduated with my bachelors degree. Weber state overall was a great
        experience and I enjoyed all the learning that went on, but that wasn't
        the end of my learning. This only fueled a greater desire to learn more.
      </p>
      <p class="paragraph">
        Right out of college I wiped all of my computer hard drives of Windows
        10, and began a delve into Linux. I had dabbled with linux during
        college, but found it hard to completely move away from windows due to
        some program incompatibilities with linux. I started out with Linux
        Mint, and then moved around with Ubuntu, PopOS, and then for about 6
        months I settle on Manjaro, but struggled a little with stability on my
        older desktop PC so now I am happily using Fedora and I'm loving the
        stability.
      </p>
      <p class="paragraph">
        Along with learning linux, I took a much deeper dive into Javascript and
        learned how to use node.js, and vue.js. Which is actually what powers
        the server side, and client side of this website.
      </p>
      <p class="paragraph">
        Overall though, this site is an opportunity for me to showcase some of
        my work, and also experiment with different tools and learning so that I
        can continue to further my education and development as a Full Stack
        Software Developer.
      </p>
      <p class="paragraph">
        If you are looking for any sort of freelance/contract development and
        you feel my skill set fits what you need. Don't hesitate to reach out to
        me at
        <a href="mailto:austin21wilcox@gmail.com">austin21wilcox@gmail.com</a>.
      </p>
    </div>
  </div>
</template>

<script>
import Hero from "../components/Hero.vue";

export default {
  Title: "About Me",
  name: "About",
  components: {
    Hero
  },
  data() {
    return {
      bannerBaseUrl: process.env.VUE_APP_IMAGEBASE
    }
  }
};
</script>
