<template>
  <div class="blog-post">
    <div class="blog-post__header">
      <img
        class="blog-post__img"
        :src="`/Images/${post.banner}`"
        :alt="post.title"
      />
      <div class="blog-post__header-text">
        <h1 class="blog-post__title">{{ post.title }}</h1>
        <p class="blog-post__date">{{ formatDate(post.dateCreated) }}</p>
      </div>
    </div>
    <section class="container-small">
      <div class="blog-post__html" v-html="post.html" />
    </section>
  </div>
</template>

<script>
import { Axios } from "../tools/axiosHelper.js";
import { DateTime } from "luxon";

export default {
  title: "Blog",
  data() {
    return {
      post: {}
    };
  },
  beforeCreate() {
    const blogName = this.$route.params.blogPost;
    Axios.get(`/blogPosts/${blogName}`)
      .then(resp => {
        if (resp) {
          this.post = resp.data;
        } else {
          this.$router.push("/");
        }
      })
      .catch(() => {
        this.$router.push("/Blog");
      });
  },
  methods: {
    getImg(name) {
      var imgs = require.context("../assets/", false, /\.jpg$/);
      if (name) {
        return imgs("./" + name);
      }

      return "";
    },
    formatDate(date) {
      return DateTime.fromISO(date).toLocaleString(DateTime.DATETIME_MED);
    }
  }
};
</script>
