<template>
  <Hero heroImg="/Images/Blog.jpg">Blog Posts</Hero>
  <div class="container-small">
    <div v-for="post in recentPosts" :key="post.blogPostId">
      <BlogThumbnail :blogPost="post" />
    </div>
  </div>
</template>

<script>
import { Axios } from "../tools/axiosHelper";
import BlogThumbnail from "../components/BlogThumbnail.vue";
import Hero from "../components/Hero.vue";

export default {
  components: {
    BlogThumbnail,
    Hero
  },
  data() {
    return {
      recentPosts: []
    };
  },
  beforeCreate() {
    Axios.get(`/blogPosts`)
      .then(({ data }) => {
        this.recentPosts = data;
      })
      .catch(err => {
        console.log(err);
      });
  }
};
</script>
