<template>
  <Hero
    :heroImg="`${bannerBaseUrl}/banner.png`"
    subtitle="Full Stack Developer"
    isTitleAnimated
  >
    Seconds Web Development
  </Hero>
  <div class="container-small">
    <section class="about">
      <h2 class="sub-header">About Me</h2>
      <p class="paragraph">
        Hi, my name is Austin and I'm a Full Stack Developer. I started my
        career back in 2018 for a local government company. I quickly
        fell in love with all things software related, especially when it comes
        to building/developing websites. I'm an avid Linux user, and an advocate
        for open source software.
      </p>
    </section>
    <section class="blog">
      <h2 class="sub-header">Recent Blog Posts</h2>
      <BlogThumbnail
        v-for="post in recentBlogPosts"
        :key="post.title"
        :blogPost="post"
      />
    </section>
    <section class="projects">
      <h2 class="sub-header">Projects to watch</h2>
      <ProjectThumbnail
        v-for="project in projects"
        :key="project.title"
        :project="project"
      />
    </section>
  </div>
</template>

<script>
// @ is an alias to /src
import Hero from "../components/Hero.vue";
import ProjectThumbnail from "../components/ProjectThumbnail.vue";
import BlogThumbnail from "../components/BlogThumbnail.vue";
import { Axios } from "../tools/axiosHelper.js";

export default {
  title: "Seconds Web Development",
  name: "Home",
  components: {
    Hero,
    ProjectThumbnail,
    BlogThumbnail
  },
  data() {
    return {
      recentBlogPosts: [],
      projects: [],
      bannerBaseUrl: process.env.VUE_APP_IMAGEBASE
    };
  },
  beforeCreate() {
    Axios.get(`/blogPosts`)
      .then(({ data }) => {
        this.recentBlogPosts = data;
      })
      .catch(err => {
        console.log(err);
      });

    Axios.get(`/projects`)
      .then(({ data }) => {
        this.projects = data;
      })
      .catch(err => {
        console.log(err);
      });
  }
};
</script>
