<template>
  <Hero heroImg="/Images/Projects.jpg">Projects</Hero>
  <div class="container-small">
    <div v-for="project in projects" :key="project.projectId">
      <ProjectThumbnail :project="project" />
    </div>
  </div>
</template>

<script>
import { Axios } from "../tools/axiosHelper.js";
import ProjectThumbnail from "../components/ProjectThumbnail.vue";
import Hero from "../components/Hero.vue";

export default {
  name: "Projects",
  components: {
    ProjectThumbnail,
    Hero
  },
  data() {
    return {
      projects: []
    };
  },
  beforeCreate() {
    Axios.get(`/projects`)
      .then(({ data }) => {
        this.projects = data;
      })
      .catch(err => {
        this.resp = err;
      });
  }
};
</script>
