<template>
  <Hero heroImg="/Images/Resume.jpg">Resume</Hero>
  <div class="container-small">
    <!--<a class="resume-download" href="#" target="_blank">Download Resume</a>-->
    <h2 class="resume-header">Job Experience</h2>
    <div class="job-experience">
      <div class="job" v-for="job in jobExperience" :key="job.name">
        <a :href="job.landingPage" target="_blank"
          ><img class="job-logo" :src="`/Images/${job.logo}`" :alt="job.name"
        /></a>
        <h3 class="job-name">{{ job.name }}</h3>
        <p class="job-date">{{ job.startDate }} - {{ job.endDate }}</p>
        <p class="job-description">{{ job.description }}</p>
        <div class="job-skills">
          <div class="job-skill" v-for="skill in job.skills" :key="skill">
            {{ skill }}
          </div>
        </div>
      </div>
    </div>
    <h2 class="resume-header">Education</h2>
    <div class="education">
      <div class="college">
        <h3 class="college-name">Weber State University</h3>
        <p class="college-grad-date">December 2020</p>
        <p class="college-degree">Bachelors Degree Computer Science</p>
      </div>
    </div>
    <h2 class="resume-header">Skills</h2>
    <div class="skills">
      <div class="skill" v-for="skill in skills" :key="skill.name">
        <img
          class="skill__img"
          :src="require(`../assets/Skills/${skill.img}`)"
          :alt="skill.name"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Hero from "../components/Hero.vue";

export default {
  title: "Resume",
  components: {
    Hero
  },
  data() {
    return {
      jobExperience: [
        {
          name: "Arbinger Institute",
          startDate: "September 2020",
          endDate: "Current",
          description:
            "Full time developer building tools and applications for the company.",
          logo: "ArbingerInstitute.png",
          landingPage: "https://arbinger.com",
          skills: ["Gatsby", "React", "ASP.NET", "SQL Server", "C#", "Web API"]
        },
        {
          name: "Weber Basin Water",
          startDate: "November 2018",
          endDate: "September 2020",
          description:
            "Full time programmer building Web applications, Desktop applications, and IOS Applications. Lots of time spent with engineers and other staff members to build in-house applications to their liking.",
          logo: "WeberBasinLogo.png",
          landingPage: "https://weberbasin.com",
          skills: [
            "ASP.NET",
            "Swift",
            "Web Forms",
            "SQL Server",
            "Windows Forms",
            "C#",
            "Bootstrap",
            "Web API"
          ]
        }
      ],
      skills: [
        {
          name: "Vue.js",
          img: "vuejs.png"
        },
        {
          name: "ASP.net",
          img: "aspdotnet.png"
        },
        {
          name: "C#",
          img: "csharpLogo.png"
        },
        {
          name: "CSS",
          img: "cssLogo.png"
        },
        {
          name: "Gatsby",
          img: "GatsbyLogo.png"
        },
        {
          name: "HTML",
          img: "html5logo.png"
        },
        {
          name: "JS",
          img: "JSLogo.png"
        },
        {
          name: "MongoDB",
          img: "mongodb.png"
        },
        {
          name: "Node JS",
          img: "nodeJsLogo.png"
        },
        {
          name: "Nuxt",
          img: "NuxtJsLogo.png"
        },
        {
          name: "Postgres",
          img: "Postgresql.png"
        },
        {
          name: "React",
          img: "ReactJsLogo.png"
        },
        {
          name: "Sql Server",
          img: "SqlServer.svg"
        }
      ]
    };
  }
};
</script>
