<template>
  <Hero heroImg="/Images/Tools.jpg">Usefull Tools</Hero>
  <div class="container-small">
    <p class="paragraph">
      Here are a list of tools/sites that I have found useful for development,
      system setup, project management and really just about anything software
      development.
    </p>
    <section
      style="display: flex; flex-wrap: wrap; margin: auto; justify-content: center;"
    >
      <div v-for="tool in tools" :key="tool.usefullTooId">
        <Tool :tool="tool" />
      </div>
    </section>
  </div>
</template>

<script>
import Tool from "../components/UsefullTool.vue";
import { Axios } from "../tools/axiosHelper.js";
import Hero from "../components/Hero.vue";

export default {
  components: {
    Tool,
    Hero
  },
  data() {
    return {
      tools: []
    };
  },
  beforeCreate() {
    Axios.get(`/tools`)
      .then(({ data }) => {
        this.tools = data;
      })
      .catch(err => {
        this.resp = err;
      });
  }
};
</script>

<style></style>
