.blog-post {

    &__header {
        position: relative;

        &-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__title {
        font-size: 7rem;
        color: #fff;
    }

    &__date {
        color: #fff;
    }

    &__html {
        margin-top: 2rem;

        & > h1 {
            font-size: 5rem;
        }

        & > h2 {
            font-size: 4rem;
        }

        & > h3 {
            font-size: 3rem;
        }

        & > h4 {
            font-size: 2rem;
        }

        & > p {
            font-size: 1.6rem;
            margin: 1rem 0;
        }
    }

}
