.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skill {
    margin: auto;

    &__img {
        width: 15rem;
        height: auto;
        margin: 1rem;
    }

    &__name {

    }
}

.job {
    margin: 2rem 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    padding: 1rem 1.5rem;
    border-radius: 5px;

    &-logo {
        height: 100px;
        width: auto;
    }

    &-name {
        margin-top: .5rem;
        font-size: 3rem;
    }

    &-date {
        font-size: $default-font-size;
        color: $color-grey-dark;
    }

    &-description {
        margin-top: 1rem;
        font-size: $default-font-size;
    }

    &-skill {
        display: inherit;

        //Not first child
        margin-left: 1rem;
        background-color: $color-grey-light-2;
        padding: .5rem .8rem;
        border-radius: 10px;
        font-size: 1.2rem;
    }

    &-skills {
        margin-top: 1rem;
        display: inline-block;
    }
}

.education {
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    margin: 1rem 0;
    border-radius: 5px;
}

.college {
    padding: 1rem 1.5rem;

    &-name {
        font-size: 3rem;
    }

    &-grad-date {
        font-size: $default-font-size;
        color: $color-grey-dark;
    }

    &-degree {
        margin: 1rem 0;
        font-size: $default-font-size;
    }
}

.resume-header {
    font-size: 4rem;
}
