<template>
  <div class="blog-thumbnail">
    <img
      class="blog-thumbnail__img"
      :src="getImg(blogPost.thumbnail)"
      :alt="blogPost.name"
    />
    <div class="blog-thumbnail__text">
      <h2 class="blog-thumbnail__header">
        <a :href="createSlug(blogPost.title)">{{ blogPost.title }}</a>
      </h2>
      <p class="blog-thumbnail__date">{{ formatDate(blogPost.dateCreated) }}</p>
      <p class="blog-thumbnail__description">{{ blogPost.description }}</p>
    </div>
  </div>
</template>

<script>
import { DateTime } from "luxon";

export default {
  props: {
    blogPost: Object
  },
  methods: {
    getImg(name) {
      var imgs = require.context("../assets/", false, /\.jpg$/);
      if (name) {
        return imgs("./" + name);
      }
      return "";
    },
    createSlug(name) {
      return "/blog/" + name.replace(/ /g, "_");
    },
    formatDate(date) {
      return DateTime.fromISO(date).toLocaleString(DateTime.DATE_FULL);
    }
  }
};
</script>
