<template>
  <footer class="footer">
    <div class="footer__brand">
      <img
        class="footer__logo"
        alt="Seconds Web Development"
        src="../assets/SecondsDevelopmentNoText.png"
      />
      <p class="footer__brand-name">Seconds Web Development</p>
    </div>
    <div class="footer__social">
      <h4 class="footer__title">Get in Contact</h4>
      <div class="footer__socials">
        <a href="#" target="_blank">
          <img
            class="footer__social-icon"
            src="/Images/Icons/gitlab.png"
            alt="gitlab"
          />
        </a>
        <a href="#" target="_blank">
          <img 
            class="footer__social-icon"
            src="/Images/Icons/github.png"
            alt="gitlab"
          />
        </a>
        <a href="#" target="_blank">
          <img
            class="footer__social-icon"
            src="/Images/Icons/twitter.png"
            alt="gitlab"
          />
        </a>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  props: {
    routes: {
      type: Array,
      required: true,
      default: function() {
        return [];
      }
    }
  }
};
</script>

<style></style>
