<template>
  <header class="navbar">
    <div class="navbar__brand">
      <router-link to="/">
        <img
          class="navbar__brand-logo"
          alt="Seconds Web Development"
          src="../assets/SecondsDevelopmentNoText.png"
        />
      </router-link>
      <p class="navbar__brand-text">Seconds Web Development</p>
    </div>
    <nav class="navbar__routes">
      <ul>
        <li v-for="route in routes" :key="route.to">
          <router-link
            class="navbar__route"
            active-class="navbar__route-active"
            :to="route.to"
          >
            {{ route.name }}
          </router-link>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
export default {
  props: {
    routes: {
      type: Array,
      required: true,
      default: function() {
        return [];
      }
    }
  },
  name: "Header",
  data() {
    return {};
  }
};
</script>
