<template>
  <section class="hero">
    <img class="hero-image" :src="heroImg" alt="Hero Image" />
    <div class="hero__text-group">
      <h1 :class="isTitleAnimated ? 'hero__title-animated' : 'hero__title'">
        <slot></slot>
      </h1>
      <p class="hero__text">{{ subtitle }}</p>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    subtitle: String,
    isTitleAnimated: Boolean,
    heroImg: String
  }
};
</script>
