<template>
  <div class="project">
    <h2>{{ project.name }}</h2>
    <a :href="project.url" target="_blank">Visit Project</a>
    <p>{{ project.description }}</p>
    <p>{{ formatDate(project.dateCreated) }}</p>
  </div>
</template>

<script>
import { DateTime } from "luxon";

export default {
  props: {
    project: Object
  },
  methods: {
    formatDate(date) {
      return DateTime.fromISO(date).toLocaleString(DateTime.DATE_FULL);
    }
  }
};
</script>
