<template>
  <div class="tool">
    <h2 class="tool__title">{{ tool.title }}</h2>
    <a class="tool__link" :href="tool.url" target="_blank">Visit Site</a>
    <p class="tool__description">{{ tool.description }}</p>
    <p class="tool__tag" v-if="tool.isOpenSource">Open Source</p>
    <p class="tool__date">{{ formatDate(tool.dateCreated) }}</p>
  </div>
</template>

<script>
import { DateTime } from "luxon";

export default {
  name: "Tools",
  props: {
    tool: {
      type: Object,
      required: true,
      default: function() {
        return {};
      }
    }
  },
  methods: {
    formatDate(date) {
      return DateTime.fromISO(date).toLocaleString(DateTime.DATE_FULL);
    }
  }
};
</script>
