.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $color-secondary;
    padding: 0 15vw;

    &__brand {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        &-name {
            font-size: 1.6rem;
        }
    }

    &__title {
        font-size: 2rem;
        border-bottom: 1px solid black;
        margin-bottom: 1rem;
    }

    &__logo {
        height: 6rem;
        width: auto;
    }

    &__socials {
        display: flex;
        justify-content: center;
    }

    &__social {

        &-icon {
            margin: 0 1rem;
            width: 25px;
            height: auto;
        }
    }
}
