.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $color-secondary;

    &__brand {
        display: flex;
        align-items: center;

        &-logo {
            height: 6rem;
            width: auto;
        }

        &-text {
            color: $color-white;
            font-size: 2rem;
        }
    }


    &__routes {
        & > ul {
            list-style: none;
            display: flex;
            flex-direction: row;
        }
    }

    &__route {
        text-decoration: none;
        color: $color-white;
        margin: 0 1rem;
        font-size: $default-font-size;
        font-weight: 600;

        &-active {
            color: $color-primary;
        }
    }
}
