<template>
  <Header :routes="routes" />
  <router-view />
  <Footer :routes="routes" />
</template>

<script>
import Header from "./components/Header.vue";
import Footer from "./components/Footer.vue";

export default {
  data() {
    return {
      routes: [
        {
          name: "Home",
          to: "/"
        },
        {
          name: "About",
          to: "/about"
        },
        {
          name: "Blog",
          to: "/blog"
        },
        {
          name: "Tools",
          to: "/tools"
        },
        {
          name: "Projects",
          to: "/projects"
        },
        {
          name: "Resume",
          to: "/resume"
        }
      ]
    };
  },
  components: {
    Header,
    Footer
  }
};
</script>

<style>
@import "./assets/CSS/main.min.css";
</style>
